p {
  text-align: justify;
}
body {
  font-size: 0.92em;
}

/* figure captions */
.figure p.caption {
  font-size: 0.85em;
}
.figcap p {
  font-size: 0.85em;
  text-align: left;
}

/* table captions to the top */
caption {
  caption-side: top;
}

.rmdnote2 {
  border: 1px solid #002B4D;
  border-left-width: 5px;
  border-radius: 5px;
  padding: 1em;
  margin: 1em 0;
  background-color: rgba(0, 43, 77, 0.04);
}
div.rmdnote2::before {
  display: block;
  content: "Note: ";
  color: #002B4D;
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: 0.25em;
}

.rmdsummary {
  border: 1px solid #4A90D9;
  border-left-width: 5px;
  border-radius: 5px;
  padding: 1em;
  margin: 1em 0;
  background-color: #EDF4FB;
  font-size: 0.9em;
}
div.rmdsummary::before {
  display: block;
  content: "Quick Summary";
  color: #4A90D9;
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: 0.25em;
}

/* Hide "Welcome" and "About" headings on front matter pages */
#welcome > h1,
#welcome > h1 a,
#about > h1,
#about > h1 a {
  color: white !important;
  margin-bottom: 0;
  padding-bottom: 0;
}
